body, html {
    margin: 0;
    padding: 0;
    background-color:#ffffff;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    color: #000000;
}


.main {
    margin-left: 230px;
    max-width: calc(100vw - 230px);
    top: 0px;
    text-decoration: none;
    font-size: 25px;
    color: #283618;
    display: block;
    position: relative;
}

.main-image img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height:300px; 
}

.overlay-text {
    position:absolute;
    top: 180px;
    margin-top: 40px;
    left: 28%;
    width: 70%;
    transform: translateX(-31%);
    text-align:left; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}

.line1 {
    font-size: 80px;
    font-family:sans-serif;
    background: url(https://media.istockphoto.com/id/1380747271/photo/blue-and-purple-grainy-blurred-gradient-background-with-vintage-retro-noisy-overlay-texture.webp?b=1&s=170667a&w=0&k=20&c=2tSvyfnmsucHVF0ZnHzgvSsAnmRJnUIlDMD7LqzM50c=);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 100px
}

.line2 {
    font-size: 80px;
    font-family:sans-serif;
 background:url(https://media.istockphoto.com/id/1380747271/photo/blue-and-purple-grainy-blurred-gradient-background-with-vintage-retro-noisy-overlay-texture.webp?b=1&s=170667a&w=0&k=20&c=2tSvyfnmsucHVF0ZnHzgvSsAnmRJnUIlDMD7LqzM50c=);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    -webkit-background-clip: text;
    color: transparent;
    margin-top: -50px
}

.para1 {
    margin-left: 80px;
    margin-top: 220px;
    margin-bottom: 30px;
    max-width: calc(100vw - 400px);
    text-align:left;
    font-size:20px;
    font-family:sans-serif; 
    font-weight:600;
    line-height: 1.5;
    color: #2e343c; 
}
.para1back {
    background-color:#ffffff;

}

.divider1 {
    border: none;
    height:15px;
    background: url(https://media.istockphoto.com/id/1380747271/photo/blue-and-purple-grainy-blurred-gradient-background-with-vintage-retro-noisy-overlay-texture.webp?b=1&s=170667a&w=0&k=20&c=2tSvyfnmsucHVF0ZnHzgvSsAnmRJnUIlDMD7LqzM50c=);
    background-size: cover;
    background-position:bottom; 
    margin-top: -1px;
    
}
    
.para2andimage {
    margin-top: 30px;
    margin-right: 70px;
    margin-left: 10px;
    font-size:15px;
    font-family:sans-serif; 
    font-weight:600;
    line-height: 1.4; 
    text-align:left;
    color: #2e343c;
}

.para2andimage ul{
    list-style-type:square; 
    font-weight: 500;
    text-align: left;
    column-count: 3;
    column-gap: 20px;
    margin-left: -15px;
    margin-top: 20px;
}

#para2title {
    margin-left: 0px;
    margin-top: 35px;
    font-size:25px;
    font-family:sans-serif; 
    font-weight:bold;
    text-align:left;
    color: #2e343c; 
}

.para2only {
    margin-top: -10px;
}

.para2back {
    max-width: calc(100vw - 230px);
    height: 356px;
    margin-top: 00px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row-reverse;
}

.para2andimage {
    width: 100%;
    margin-left: 60px;
}

#para2image {
        position:relative;
        width: 60%; 
        overflow:visible;
        display: flex;            
        justify-content:center;
    }





.para3andimage {
    margin-top: 30px;
    margin-right: 70px;
    margin-left: 10px;
    font-size:15px;
    font-family:sans-serif; 
    font-weight:600;
    line-height: 1.4; 
    text-align:left;
    color: #2e343c;
}



#para3title {
    margin-left: 0px;
    margin-top: 0px;
    font-size:25px;
    font-family:sans-serif; 
    font-weight:bold;
    text-align:left;
    color: #2e343c; 
}


.para3back {
    max-width: calc(100vw - 230px);
    height: 356px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row-reverse;
}

.para3andimage {
    width: 100%;
    margin-left: 60px;
}

#para3image {
        position:relative;
        width: 60%; 
        overflow:visible;
        display: flex;            
        justify-content:center;
    }

.table1 {
  width: 100%;
  border-collapse:separate;
    border: 15px solid transparent;
    background-clip: padding-box;
    border-image: url(https://media.istockphoto.com/id/1380747271/photo/blue-and-purple-grainy-blurred-gradient-background-with-vintage-retro-noisy-overlay-texture.webp?b=1&s=170667a&w=0&k=20&c=2tSvyfnmsucHVF0ZnHzgvSsAnmRJnUIlDMD7LqzM50c=) 100 stretch;
    
}

.table1 th, .table1 td {
  border: 1px solid #000000;
  padding: 15px;
  text-align: left;
background-color: #FFFFFF;
  
}

.table1 th {
  background-color:#f2f2f2;
}



.para4andimage {
    margin-top: -50px;
    margin-right: 70px;
    margin-left: 10px;
    font-size:15px;
    font-family:sans-serif; 
    font-weight:600;
    line-height: 1.4; 
    text-align:left;
    color: #2e343c;
}


#para4title {
    margin-left: 0px;
    margin-top: 35px;
    font-size:25px;
    font-family:sans-serif; 
    font-weight:bold;
    text-align:left;
    color: #2e343c; 
}

.para4only {
    margin-top: -10px;
}

.para4back {
    max-width: calc(100vw - 230px);
    height: 356px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 520px;
}

.para4andimage {
    width: 100%;
    margin-left: 60px;
    
    
}

#para4image {
        position:relative;
        width: 60%; 
        overflow:visible;
        display: flex;            
        justify-content:center;
    
        
    }

footer {
  text-align: center;
    margin-left: 230px;
  padding: 20px;
  background-color: #f9f9f9;
    font-family:sans-serif;
    font-size: 10px;
    font-weight: bold;
    margin-top: -50px;
}

.footer-content p {
  border-bottom: 1px solid #2e343c;
  padding: 10px 0;
}

.divider2 {
    border: none;
    height:55px;
    background: url(https://media.istockphoto.com/id/1380747271/photo/blue-and-purple-grainy-blurred-gradient-background-with-vintage-retro-noisy-overlay-texture.webp?b=1&s=170667a&w=0&k=20&c=2tSvyfnmsucHVF0ZnHzgvSsAnmRJnUIlDMD7LqzM50c=);
    background-size: cover;
    background-position:bottom; 
    margin-top: -1px;
}